@charset "UTF-8";

div#pdf{
    display: flex;
    justify-content: center;
}
div#manual{
    display: flex;
    justify-content: center;
}

embed#pdf{
    
    margin: 20px;
    padding: 10px;
    width: 850px;
    height: 650px;
}
