@charset "UTF-8";
/**/
/*definindo barra de menu do site*/

body{
    
    font-family: Arial, Helvetica, sans-serif;

    color: black;
}
div#def-menu{
    background-color: #000080;
    margin-top: -30px;
    margin-left: -30px;
    height: 100px;
}
/*header#topo{
    background-color: #2F4F4F;
    background-color: #000080;

    margin-top: none;
    margin-left: none;
    /*width: 1000px;
    height: 100px;
}*/
hgroup#logo h1{
    font-family: Arial, Helvetica, sans-serif,sans-serif;
    font-size: 35px;
    color: #FFFFF0;

    padding-top: 20px;
    padding-left: 70px;
    margin-bottom: 0px;
}
hgroup#logo h2{
    font-family: Arial, Helvetica,sans-serif;
    font-size: 14px;
    color: #FFFFF0;
    padding-top: 1px;
    padding-left: 80px;
    margin-top: 0px;
}
/*formatação do menu*/
nav#menu{
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 700px;

}
nav#menu li{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #FFFFF0;
    /*background-color:#dddddd;*/
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
/*colocando efeitos visuais no [MENU]*/
/*nav#menu li:hover{
    background-color: #606060;
}*/
/*escondendo MENU PRINCIPAL da tela do site*/
nav#menu h1{
    display: none;
}
/*colocando efeito nos links de [MENU]*/
nav#menu a{
    color: #FFFFF0;
    text-decoration: none;
}
nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline;
}
/*definindo corpo do site*/
/*formatar <div>*/
div#interface{
    background-color: #E6E6FA;
    
    width: 1000px;
    /*height: 600px;*/
    margin: auto;
    margin-top: 0px;
    padding: 10px 10px 10px;
    
    box-shadow: 3px 3px 5px rgba(7, 6, 6, 0.4);
}
div#interface img#img-home{
    position: relative;
    width: 990px;
    height: 300px;
}
section.corpo h2#projeto{

    

}
section.corpo h2#new{

}
article#noticia1{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(7, 6, 6, 0.4);
    text-align: justify;
    width: 450px;
    float: left;
    padding: 10px;
}
article#noticia2{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(7, 6, 6, 0.4);
    text-align: justify;
    width: 450px;
    float: right;
    padding: 10px;
}

    
/*p#news{
    box-shadow: 3px 3px 5px rgba(7, 6, 6, 0.4);
    text-align: justify;
    width: 500px;
    
}*/
/*definindo rodape do site*/
 footer#rodape{
      clear: both;
      border-top: 1px solid #606060;
  }
  footer#rodape p{
      text-align: center;
  }



