*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-color:white;
}
h1{
    font-family: Arial, Helvetica;
    font-size: 32px;
    color: black;
}
div.fundo1 img#capa{

    width: 1000px;
    height: 400px;

}
main{
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(7, 6, 6, 0.925);
}
img.lado{
    float: right;
}
